<div class="wrapper">
    <header>
        <div class="logo">
            <h1><span>Free</span>Space</h1>
        </div>
        <nav>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/signup">Signup</a>
        </nav>
    </header>
    <section class="main">
        <div>
            <h2>Meeting & Conference Room Booking</h2>
            <p>A modern way to manage your company space.</p>
        </div>
    </section>
    <section class="inform">
        <div class="inform_heading">
            <h2>Book Your Meeting in a Second</h2>
            <p>Transform Your Office</p>
        </div>
        <div class="inform_about">
            <div>
                <img src="https://cdn.meetingroomapp.com/website/uploads/2017/05/smart-easy.png" alt="smart-easy" width="88" height="64">
                <h3>Smart functions <br>
                    & easy reservation</h3>
                <p>Ad hoc booking of your meeting on the <br> touchscreen panel directly at the meeting room <br> and a number of unique functions which help you <br> plan and organize your meetings effectively.</p>
            </div>
            <div>
                <img src="https://cdn.meetingroomapp.com/website/uploads/2017/05/reporting-statistics.png" alt="reporting-statistics" width="88" height="64">
                <h3>Reporting <br>
                    & statistics</h3>
                <p>A great analytical tool for the management. <br> Detailed statistics about the use of meeting rooms <br> and user activity.</p>
            </div>
            <div>
                <img src="https://cdn.meetingroomapp.com/website/uploads/2017/05/services.png" alt="services" width="88" height="64">
                <h3>Comprehensive services <br>
                    at your fingertips</h3>
                <p>Need to clean the meeting room, call the catering <br> company or a technician? It’s never been easier, <br> just tap an icon on the touchscreen panel.</p>
            </div>

        </div>
    </section>
    <section class="about">
        <img src="assets/img/about-img.jpg" alt="about-img">
        <div class="about_info">
            <h2><span>Make Your</span> Workplace Better</h2>
            <p>Book your meeting from <span>anywhere you are.</span> <br>
                Easy planning and effective <span>meeting management.</span> <br>
                Meeting room occupancy <span>overview and environment digitization </span><br>
                Reporting and improved use <span>of meeting rooms</span> 
            </p>
        </div>
    </section>
    <section class="description">
        <div>
            <h3>Optimize Your Meetings & Company Processes</h3>
            <p>Employees spend up to 40 % of their time in meetings. <br>
                Usually futilely.
            </p>
        </div>
        <img src="assets/img/work-station.png" alt="working">
    </section>
    <footer>
        <p>Made by Arman Zhagparov</p>
    </footer>
</div>
