<div *ngFor="let movie of movies">
<mat-card class="movie-card" *ngIf='id == movie.id'>
    <img mat-card-image [src]=[imgId]   alt="imgId">
    <mat-card-header>
        <mat-card-title>{{movie.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><span>Genre: </span> {{movie.genre}}</p>
        <p><span>Year: </span> {{movie.year}}</p>
        <p><span>Country: </span> {{movie.country}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)='goBack()' >Go back</button>
    </mat-card-actions>   
</mat-card>
</div>


