<h1>Users</h1>
<a routerLink="/home">Home</a>
<button (click)="signOut()" *ngIf="userService.userData | async">Logout</button>
<button (click)="active()" >Active</button>
<div *ngFor="let user of users" style="width: 300px;">
    <div *ngIf="user" class="box" >
        <div>
          <label>Name: </label> {{user.name}}
        </div>
        <div>
          <label>Surname: </label> {{user.surname}}
        </div>
        <div>
            <label>Login: </label> {{user.login}}
        </div>
        <div>
            <label>Email: </label> {{user.email}}
        </div>
        <div>
            <label>Telefon: </label> {{user.tel}}
        </div>
        <div>
          <label>Status: </label> {{user.status}}
        </div>
</div>
