.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pic{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

img{
    width: 250px;
    height: 220px;
    padding: 8px;
}