<body>
    <div class="all1">
        <img class="img1" src="assets/img/user.jpg" alt="">
        <div>
            <h5>Number: 8 777 654 76 54</h5>
            <h5>Email: 180103212@stu.sdu.edu.kz</h5>
        </div>
    </div>

    <div class="all">
        <div class="box">
            <img class="img2" src="assets/img/giphy.gif" alt="">
            <p>The number of successful hw:9
                The number of permits: 2
                <br>

                The number of lessons: 16
                <br>
                The number of people in group: 4
                The names of people are:
                <br>
                Arman
                <br>
                Beknur
                <br>
                Ardak
                <br>
                Shynar
            
            </p>
        </div>
        <div class="box1">
           <div class="text">Beknur</div> 
           <div class="text2">The 2 year student of SDU, and the intern of One-lab. I am 19 years old and I was born in Almaty</div>
        </div>
        <div class="box2">
            <img src="assets/img/programmist.jfif" style="height: 400px; width: 270px; margin-top: 70px; margin-left:30px;" alt="">

        </div>
    </div>
   
    
</body>