<div class="wrapper">
    <div class="person">
        <div class="person_img">
            <div class="person_img_info">
                <img src="./assets/img/petrov.jpg" alt="my-photo">
                <h2>Ivan Petrov</h2>
                <p>Teamlead</p>
            </div>
            <div class="person_img_btn">
                <button>Call</button>
                <button>Send message</button>
            </div>
        </div>
        <div class="person_info">
            <div class="person_info_bio">
                <h3>Biography</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, ab? Nobis minus aspernatur 
                    soluta esse eaque a eum, 
                    exercitationem tempora sit expedita possimus quo ipsum aut error odio repellat magni.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, ab? Nobis minus aspernatur 
                    soluta esse eaque a eum,exercitationem tempora.
                </p>
            </div>
            <div class="person_info_contact">
                <h3>Contacts</h3>
                <div class="person_info_contact_type">
                    <p><span>Email</span> <br> ivan@gmail.com</p>
                    <p><span>Location</span> <br>Almaty,KZ</p>
                    <p><span>Telefon</span><br> 8 778 963 2581</p>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <div class="description_hobby">
             <h2>Hobbies</h2>
             <p>Tennis <br> 
                <!-- Basketball <br> -->
                Reading
            </p>
        </div>
        <div class="description_project">
            <h2>Projects</h2>
            <p>11</p>
        </div>
        <div class="description_task">
        <h2>Tasks</h2>
        <p>55</p>
        </div>
    </div>
    <div class="activity">
        <div class="activity_team">
            <h2>Works with</h2>
            <div class="activity_team_members">
                <div>
                    <img src="./assets/img/alena.jpg" alt="Team-member">
                    <p>Alena</p>
                </div>
                <div>
                    <img src="./assets/img/ivan.jpg" alt="Team-member">
                    <p>Ivan</p>
                </div>
                <div>
                    <img src="./assets/img/kassymbayev.jpg" alt="Team-member">
                    <p>Kasym</p>
                </div>
                <div>
                    <img src="./assets/img/maria.jpg" alt="Team-member">
                    <p>Maria</p>
                </div>
                <div>
                    <img src="./assets/img/petrov.jpg" alt="Team-member">
                    <p>Petr</p>
                </div>
                <div>
                    <img src="./assets/img/alena.jpg" alt="Team-member">
                    <p>Masha</p>
                </div>
                <div>
                    <img src="./assets/img/ivan.jpg" alt="Team-member">
                    <p>John</p>
                </div>
                <div>
                    <img src="./assets/img/maria.jpg" alt="Team-member">
                    <p>Vera</p>
                </div>   
            </div>
        </div>
        <div class="activity_info">
            <h2>Recent activities</h2>
            <ul class="activity_info_rec scroll">
                <li>Lorem ipsum dolor sit amet<br><span>1 day ago</span></li>
                <li>Lorem ipsum dolor sit amet<br><span>today</span></li>
                <li>Lorem ipsum dolor sit amet<br><span>12 day ago</span></li>
                <li>Lorem ipsum dolor sit amet<br><span>today at 15:56</span></li>
                <li>Lorem ipsum dolor sit amet<br><span>today</span></li>
                <li>Lorem ipsum dolor sit amet<br><span>12 day ago</span></li>
                <li>Lorem ipsum dolor sit amet<br><span>today at 15:56</span></li>
                <li>Lorem ipsum dolor sit amet<br><span>today</span></li>
                <li>Lorem ipsum dolor sit amet<br><span>12 day ago</span></li>
                <li>Lorem ipsum dolor sit amet<br><span>today at 15:56</span></li>
                <li>Lorem ipsum dolor sit amet<br><span>today</span></li>
                <li>Lorem ipsum dolor sit amet<br><span>12 day ago</span></li>
                <li>Lorem ipsum dolor sit amet<br><span>today at 15:56</span></li>
            </ul>
        </div>
        <div class="activity_perform">
            <h2>My perfomance</h2>
            <img src="./assets/img/perfomance.png" alt="Perfomance">
        </div>
    </div>
</div>
